.icon-bar {
    width: 90px; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
  }
  
  .icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
  }
  
  .icon-bar a:hover {
    background-color: #000; /* Add a hover color */
  }
  
  .active {
    background-color: #04AA6D; /* Add an active/current color */
  }









body{
    margin:0;
    background-color: aliceblue;
}
header{
    background-color: rgb(214, 214, 4);
}
.nav-bar{
    margin: 1px;
    background-color: palevioletred;
    /* background-image: url(https://media.istockphoto.com/photos/hand-is-holding-black-clapper-board-or-movie-slateit-is-used-in-video-picture-id1294308946?k=20&m=1294308946&s=612x612&w=0&h=B4-aLtPqL4Hp5OKciHdLuX59bgF6wg83cOFIFr2Dyts=); */
    aspect-ratio:16px;
    width: 100%;
    height: 7vh;
}
#logo{
    height: 55px;
    width: 100px;
    padding: auto;
    margin: auto;
    /* color: var(--yt-spec-wordmark-text); */
    flex: none;
}
.logo-text{
    font-family:;
}
section{
    border-radius: 1%;
}
.main-container{
    margin: 1px;
    display: flex;
    flex-direction: row;
}
.side-bar{
    margin: 1px;
    background-color: pink;
    width: 15rem;
    height: 90vh;    
   
}
.divider{
    background-color: blanchedalmond;
    height:1px;
    width: 100%;
    margin: 0;
}
.side-menu a{
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bold;
    color: blue;

    text-decoration: none;
    padding: 30px 10px;
    position:sticky;
}
.video-content{
    margin: 1px;
    /* background-color:aqua; */
    width: 60rem;
    height: 90vh;
    
}
div{
    overflow: hidden;
}
.video-description{
    background-color: antiquewhite;
    width: 600px;
    height: 600px;
}
.video-thumbnails{
    margin: 1px;
    background-color:aquamarine;
    width: 25rem;
    height: 90vh;   
    overflow: auto;
}
.footer{
    margin-top: 1px;
    width: 100%;
    height:10em;
    background-color: blue;
}